@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body * {
  font-family: "Open Sans", sans-serif;
}

a {
  color: red;
  transition: all 0.4s;
}

a:hover {
  color: rgb(161, 0, 0);
}
